<header class="AppHeader-globalBar">
  <div class="AppHeader-globalBar-left">
    <div class="nav-icon" (click)="toggleNav()">
      <img src="assets/icons/menu-icon.svg" alt="" />
    </div>
    <a class="logo">
      <img src="assets/icons/eLearning.svg" alt="Logo" />
    </a>
    <div class="page-name-or-user-name">
      {{ pageTitleOrUserName }}
    </div>
  </div>
  <div class="AppHeader-globalBar-right">
    <div class="user-profile-icon" (click)="userProfileMenu()">
      <img
        src="https://avatars.githubusercontent.com/u/76052002?v=4"
        alt="User Profile"
      />
    </div>
  </div>
</header>

<!-- Left Navbar -->
<!-- Popup Navbar -->
<div [ngClass]="{ 'navbar-popup': true, visible: isNavOpen }">
  <app-navbar (closeNavbar)="closeNav()" />
</div>

<!-- Navbar Overlay -->
<div *ngIf="isNavOpen" class="navbar-overlay" (click)="toggleNav()"></div>

<!-- Right User Profile Dropdown -->
<!-- Popup User Menu -->
<div
  [ngClass]="{
    'user-profile-dropdown': true,
    visible: isUserProfileDropdownOpen
  }"
>
  <app-user-menu (closeUserMenuBar)="closeUserMenu()"></app-user-menu>
</div>

<!-- User Menu Overlay -->
<div
  *ngIf="isUserProfileDropdownOpen"
  class="navbar-overlay"
  (click)="userProfileMenu()"
></div>
